<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Navbar</title>
    </head>
    <body>

        <div th:fragment="navbar">
            <nav class="navbar navbar-expand-sm bg-light navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/books/all}">Rent books</a>
                    </li>

                    <li>
                        <form class="form-inline" th:action="@{/books/search/}">
                            <input class="form-control mr-sm-2" type="text" name="search_phrase" placeholder="Search">
                            <button class="btn btn-light" type="submit">Search</button>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li th:if="${#request.isUserInRole('USER')}">
                        <a th:href="@{/account}" class='nav-link' th:text="${#request.userPrincipal.getName()}"></a>
                    </li>
                     <li th:if="${#request.isUserInRole('USER')}">
                         <form th:action="@{/logout}" method="POST">
                             <button class="btn btn-light" type="submit">Logout</button>
                         </form>
                    </li>
                    <li th:if="${!#request.isUserInRole('USER')}">
                        <a class="nav-link" th:href="@{/register}">Sign up<span class="sr-only">(current)</span></a>
                    </li>
                    <li th:if="${!#request.isUserInRole('USER')}">
                        <a class="nav-link" th:href="@{/login}">Log in<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>